* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    }

    nav ul li{
        list-style: none;
        margin: 0 1rem;
        }

.expertise{
    background: url(images/cafe-1.jpg) center center/cover;
    height: 90vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    background-color:black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-items: center;
}

.largeur{
    width: 30%;
}

.infos{
    display: flex;
    justify-content: space-around;
}

.items{
    width: 35%;
    text-align: center;
}

@media screen and (max-width:380px){
    .infos{
        flex-direction: column;
    }
    .items{
        width: 100%;
    }
    }
